{% extends "base.html" %}
{% load component_tags %}

{% block body %}
    <form method="get" action="{% block search_url %}{% endblock %}" class="container mt-4">
        <div class="row justify-content-center d-flex">
            <div class="col-md-6 col-lg-4">
                <form>
                    {% csrf_token %}
                    <div class="input-group mb-3 ">
                        <input type="text" name="query" class="form-control" id="query"
                               value="{{ request.GET.query }}" placeholder="search">
                        <button type="submit" class="btn btn-outline btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </form>
    {% if movies %}
        <div class="row mx-2" id="cards-container">
            {% for movie in movies %}
                {% component "card" %}{% endcomponent %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}